@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }


    @Html.Partial("_MainMenu")
    <div class="container-fluid">
        <main role="main" class="pb-3 no-padding">
            @RenderBody()
            @RenderSection("Content", required: false)
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - BaphoDashBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

@section scripts {
    @RenderSection("scripts", required: false);
}
