@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }


    @Html.Partial("_MainMenu")
    <div class="container-fluid">
        <main role="main" class="pb-3 no-padding">
            @RenderBody()
            @RenderSection("Content", required: false)
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2021 - BaphoDashBoard <spmall style="color:#dd4b39">version 1.0</spmall>
        </div>
    </footer>

@section scripts {
    @RenderSection("scripts", required: false);
}
