@model List<RansomDetailsViewModel>
@{
    ViewData["Title"] = "Ransomwares list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-scroll {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .custom-scroll::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .custom-scroll ul li {
            list-style: none;
        }
    .box-body {
        background-color:#666
    }
</style>

<div id="app" class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header" style="background-color:#666">
                        <h4 class="box-title" style="color:#ffff">My Ransomware's</h4><small style="color:#fff">...</small>

                        <div class="box-tools pull-right">
                            <a class="btn btn-social-icon" style="cursor:pointer">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger" style="background-color:#666">
                    <table class="table" style="color:#fff">
                        <thead>
                            <tr style="color:#dd4b39">
                                <th class="text-center">Ransomware Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Release date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (RansomDetailsViewModel record in Model)
                                {
                                    <tr>
                                        <td class="text-center">@record.Name</td>
                                        <td class="text-center">@record.Description</td>
                                        <td class="text-center">@record.Date</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/javascript-map.min.js"></script>

@section scripts{

    <script type="text/javascript">

        var dataLst = new Vue({
            el: "#app",
            mixins: [vue_base],
            data: {
              

            },
            mounted() {
            },
            methods: {

              
            }
        });
    </script>
}