@{
    ViewData["Title"] = "Home";
}

    <div class="row">
        <div class="col-md-3" style="color:#ffffff">
            <div class="row">
                <div class="col-md-12">
                    <div class="small-box" style="margin-bottom:0;background-color:#666">
                        <div class="inner">
                            <h3>140</h3>
                            <p>Infected machines</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <a class="small-box-footer" style="background-color:#000000"></a>
                    </div>
                </div>
            </div><!--</box1-->
            <div class="row">
                <div class="col-md-12">
                    <div class="small-box" style="margin-bottom:0; background-color:#666">
                        <div class="inner">
                            <h3>140</h3>
                            <p>Infected Countries</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-map"></i>
                        </div>
                        <a class="small-box-footer" style="background-color:#000000"></a>
                    </div>
                </div>
            </div><!--</box2-->

            <div class="row">
                <div class="col-md-12">
                    <div class="small-box " style="margin-bottom: 0;background-color:#666">
                        <div class="inner">
                            <h3>140</h3>
                            <p>Windows OS</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <a class="small-box-footer" style="background-color:#000000"></a>
                    </div>

                </div>
            </div><!--</box3-->

            <div class="row">
                <div class="col-md-12">
                    <div class="small-box" style="margin-bottom:0;background-color:#666">
                        <div class="inner">
                            <h3>140</h3>
                            <p>Linux OS</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <a class="small-box-footer" style="background-color:#000000"></a>
                    </div>

                </div>
            </div><!--</box4-->

            <div class="row">
                <div class="col-md-12">
                    <div class="small-box" style="margin-bottom:0;background-color:#666">
                        <div class="inner">
                            <h3>$12,000.00</h3>
                            <p>Generated</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <a class="small-box-footer" style="background-color:#000000"></a>
                    </div>

                </div>
            </div><!--</box5-->

        </div><!--</boxes menu-->

        <div class="col-md-9" style="border-left: 2px solid #666">


        </div><!--</Chart's-->
    </div>
