@{
    ViewData["Title"] = "Home";
}

<div id="app" class="row">
    <div class="col-md-3" style="color:#ffffff">
        <div class="row">
            <div class="col-md-12">
                <div class="small-box" style="margin-bottom:0;background-color:#666">
                    <div class="inner">
                        <h3>140</h3>
                        <p>Infected machines</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <a class="small-box-footer" style="background-color:#000000"></a>
                </div>
            </div>
        </div><!--</box1-->
        <div class="row">
            <div class="col-md-12">
                <div class="small-box" style="margin-bottom:0; background-color:#666">
                    <div class="inner">
                        <h3>140</h3>
                        <p>Infected Countries</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-map"></i>
                    </div>
                    <a class="small-box-footer" style="background-color:#000000"></a>
                </div>
            </div>
        </div><!--</box2-->

        <div class="row">
            <div class="col-md-12">
                <div class="small-box " style="margin-bottom: 0;background-color:#666">
                    <div class="inner">
                        <h3>140</h3>
                        <p>Windows OS</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <a class="small-box-footer" style="background-color:#000000"></a>
                </div>

            </div>
        </div><!--</box3-->

        <div class="row">
            <div class="col-md-12">
                <div class="small-box" style="margin-bottom:0;background-color:#666">
                    <div class="inner">
                        <h3>140</h3>
                        <p>Linux OS</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <a class="small-box-footer" style="background-color:#000000"></a>
                </div>

            </div>
        </div><!--</box4-->

        <div class="row">
            <div class="col-md-12">
                <div class="small-box" style="margin-bottom:0;background-color:#666">
                    <div class="inner">
                        <h3>$12,000.00</h3>
                        <p>Generated</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a class="small-box-footer" style="background-color:#000000"></a>
                </div>

            </div>
        </div><!--</box5-->

    </div><!--</boxes menu-->

    <div class="col-md-9" style="border-left: 2px solid #666">
        <div class="row">
            <!--Map-->
            <div class="col-md-5">
                <div class="box box-danger" style="background-color:#666">
                    <div class="box-body">

                    </div>
                </div>
            </div>
            <!--Gafica-->
            <div class="col-md-6">
                <div class="box box-danger" style="background-color:#666">
                    <div class="box-body">
                        <div id="map" style="height:300px"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="box box-danger" style="background-color:#666">
                    <div class="box-body">
                        <img v-on:click="updateData" class="img-fluid" src="~/Images/cloud.png" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>

    </div><!--</Chart's-->
</div>
@section scripts{

    <script type="text/javascript">

        var dataLst = new Vue({
            el: "#app",
            mixins: [vue_base],
            data: {
                data: [],
                response:''
            },
            mounted() {
                this.getVictimsData();
            },
            methods: {

                getVictimsData: function () {
                    this.get_request('@Url.Action("GetVictimData","Home")').then(response => {
                        this.data = response.data;
                    });
                },

                updateData: function () {
                    this.get_request('@Url.Action("GetHostData","Home")').then(response => {
                        this.response = response.data;
                    });
                },
            }
        });

       $(document).ready(function () {
        //Map Settings
           var baseLayer = L.tileLayer(
               'https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
               maxZoom: 5
               }
           );

           window.map = L.map('map', {
               center: [18.42641, -66.0639655],
               zoom: 9,
               zoomControl: false,
               layers: [baseLayer]
           });

       });

    </script>
}